<div class="bg" style="background-color: #f6f9fe;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 style="margin-left: 80px; font-size: 28px">Sign Up</h1>
          </div>
        </div>
        <form class="main-form" nz-form [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
              <input nz-input placeholder="E-mail" id="email" formControlName="email"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
              <input nz-input placeholder="Password" type="password" id="password" formControlName="password"/>
              <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Password Is Required!
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Password Should Contains 8 charactern, 1 lowercase, 1 uppercase, 1 number and 1 special character
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
              <input nz-input type="password" placeholder="Confirm Password" id="checkPassword" formControlName="checkPassword"/>
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
              <input nz-input placeholder="Name" id="username" formControlName="name"/>
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please input your username!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()">Register</button>
          Or <a routerLink="/login">Login now!</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
