<nz-layout>
  <div *ngIf="!isAdminLoggedIn && !isClientLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex" style="background-color: #7f71ef;">
      <div>
        <a style="color: white; margin-left:50px; font-size: 18px; font-weight: bolder;"
           routerLink="/login">Task Manager</a>
      </div>
      <div class="nav-links">
        <a nz-button nzType="link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
        <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
      </div>
    </nz-header>
  </div>
  <router-outlet></router-outlet>

</nz-layout>
